// .bx--accordion__heading{
//     border: 1px solid #c1c1c1 !important;
//     background: #d9d9d9 !important;
//     border-bottom: none !important;
//     margin: 5px 0;
// }
// .bx--accordion__content {
//     border-bottom: none !important;
//     border: 1px solid #aeaeae !important;
//     margin: 16px 3% !important;
//     width: 65% !important;
//     padding-right: 0 !important;
// }
// .bx--accordion__item {
//     border-top: none !important;
//     // border-bottom: 1px solid #c1c1c1 !important;
// }
.bgDivCmd{
    padding: 10px 0;
}
.editIconCmd{
    float: right;
    width: 22px !important;
}
.editDiv {
    width: 100%;
    padding-right: 25px;
}